/*
St Pius X Colours

Pius Gold - #ffdd00
Pius Blue   - #003362
Theme Grey  - #e2e2e2
Pius Light Accent - #003e77
Pius Dark Accent - #001f3b;
Yellow Hover- #d6bb0e
Blue Current- #0c6bc5

G'day! Thanks for stopping by the stylesheet.
You must be looking into website design if you're here?
I recommend the:
-> World Wide Web Consortium's "w3schools" or
-> Mozilla's "MDN" (Mozilla Developer Network)

(C) 2018 Oliver Lenehan

*/

@charset "UTF-8";

@font-face {
    font-family: "EmojiSymbols";
    src: url('/fonts/EmojiSymbols.woff') format('woff');
    text-decoration: none;
    font-style: normal;
}

@font-face {
    font-family: "adelle-eb";
    src: url('/fonts/adelle-eb.woff') format('woff');
    text-decoration: none;
    font-style: normal;
}

@media not print {
/* Main Page Styling */
* { box-sizing: border-box; }
*::selection { background: #4ebeff; }
body {
    padding: 1vh;
    /*height: 100vh;*/
    margin: 0;
    background-color: #003362;
}
header {
    width: 1000px;
    margin: 20px auto;
    box-shadow: 0 10px 20px black;
    border-left: 20px solid #ffdd00;
}
.defaultText {
    /*width: 100%; /*calc(100% - 120px);*/
    /*display: inline-block;*/
    
    font-size: 20px; /*17px normal*/
    font-family: 'Segoe UI', sans-serif;
    /*padding-left: 10px;*/
}

::-webkit-scrollbar {
    width: 15px;
    background: #001f3b;
    box-shadow: 0 0px 20px black inset;
}
::-webkit-scrollbar-corner {
    background: #001f3b;
}
::-webkit-scrollbar-thumb {
    background: #d6bb0e;
    border: 2px solid #001f3b;
    border-radius: 6px;
    box-shadow: 0 5px 30px black;
}

.imgLink:hover {
    cursor: pointer;
}
/* Page Banner Styling */
.pageBanner {
    position: relative;
    /*border-left: 20px solid #ffdd00;*/
    background-color: #003e77;
    /*box-shadow: 0 10px 20px black;*/
    /*width: 1000px;*/
    height: 145px;
    margin: 0px auto;
    user-select: none;
}
.pageBanner > img {
    height: 120px;
    margin: 12px 20px 20px 20px;
    padding-right: 30px;
    padding-left: 6px;
    border-right: 2px solid #ffdd00;
}
.bannerHeading {
    font-family: 'adelle-eb', sans-serif;
    color: white;
    display: inline-block;
    vertical-align: top;
    margin: auto;
    font-size: 70px;
    padding: 27px 10px;
    user-select: text;
}
.externalSite {
    margin: 10px;
    position: absolute;
    display: inline-block;
    right: 0;
    background-color: #003362;
    transition: background-color 0.1s linear;
    border-radius: 25px;
    height: 50px;
    width: 50px;
    outline: none;
}
.externalSite:hover {
    background-color: #004d96;
    transition: background-color 0.1s linear;
	cursor: pointer;
}
.exT {
    top: 0;
}
.exB {
    bottom: 0;
}
.smallIcon {
    height: 40px;
    margin: 4px 5px;
}




/* User Bar Styles */
#userMenuBar {
    padding: 5px;
    background-color: #001f3b;
    /*width: 1000px;*/
    margin: 0px auto;
    user-select: none;
}
.menuBarTitle {
    font-family: 'Segoe UI', sans-serif;
    color: lightgray;
    display: inline-block;
    margin: auto;
    font-size: 20px;
    padding: 5px 10px;
    width: 60%;
    user-select: text;
}
.buttonBlockWrapper {
    display: inline-block;
    height: 52px;
}
.mainPageButtonBlockWrapper {
    margin-left: 25%;
}
.editPageButtonBlockWrapper {
    margin-left: 10%;
}
.userBarButton {
    border-radius: 5px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 18px; /*15px original*/
    color: white;
    font-weight: 500;
    border: none;
    padding: 14px; /*20px original*/
    background-color: rgb(36, 101, 155);
    width: 140px;
    outline: none;
}
.userBarButton:hover {
    cursor: pointer;
    background-color: #d6bb0e;
}






/* Page footer styling */
.pageFooter {
    position: relative;
    border-left: 20px solid #ffdd00;
    background-color: #003e77;
    box-shadow: 0 10px 20px black;
    margin: 20px auto;
    width: 1000px;
    padding: 1px 20px;

    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Notices Page Styleing */
.noticesPage {
    /*border-left: 20px solid #ffdd00;*/
    background-color: #e2e2e2;
    box-shadow: 0 10px 20px black;
    margin: 40px auto;
    /*height: 2000px; for testing*/
    width: 1000px;
    padding: 20px;
}
/*
.pageHidden {
    max-height: 0px;
    transition: max-height 10s cubic-bezier(0.76, 0, 1, 1);
    overflow: hidden;
}
.pageShown {
    max-height: 200000px;
    transition: max-height 10s cubic-bezier(0.70, 0, 1, 1);
    overflow: hidden;
}*/
#currentDay {
    margin-top: 0;
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
}
.dayButton {
    border-radius: 5px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 18px; /*15px original*/
    color: white;
    font-weight: 500;
    border: none;
    padding: 18px; /*20px original*/
    background-color: #003e77;
    width: 317px;
    margin-bottom: 15px;

    outline: none;
}
.dayButton:hover {
    background-color: #d6bb0e;
    cursor: pointer;
}
.yearButton {
    border-radius: 5px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 18px; /*15px original*/
    color: white;
    font-weight: 500;
    border: none;
    padding: 18px; /*20px original*/
    background-color: #003e77;
    width: 103px;
    margin-bottom: 15px;

    outline: none;
}
.yearButton:hover {
    background-color: #d6bb0e;
    cursor: pointer;
}
.current {
    /*background-color: #0c6bc5;*/
    background-color: #2196F3;
}

.noticeContainer {
    background-color: lightgrey;
    box-shadow: 0 0 2px black;
    padding: 10px 20px;
    margin-bottom: 20px;
    position: relative;
}
.noticeRelevant {
    border-top: 10px solid #003362;
    background-color: #e0dcbd;
}
.noticeUrgent {
	border-top: 10px solid #ff5e00;
    background-color: #ffc28e;
} .noticeUrgent .noticeTitle {
	font-weight: 900;
}
.noticeTitle {
    width: 100%; /*calc(100% - 120px);*/
    display: inline-block;

    padding-bottom: 10px;
    font-size: 30px;
    font-family: 'Segoe UI', sans-serif;
}
.noticeMessage {
    width: 100%; /*calc(100% - 120px);*/
    display: inline-block;

    font-size: 20px; /*17px normal*/
    font-family: 'Segoe UI', sans-serif;
    padding-left: 10px;
}
.noticeAddress {
    width: 100%; /*calc(100% - 120px);*/
    display: inline-block;

    font-size: 17px;
    font-family: 'Segoe UI', sans-serif;
    padding-top: 10px;
    padding-left: 10px;
}
.noticeAuthor {
    width: 100%; /*calc(100% - 120px);*/
    display: inline-block;

    font-size: 17px;
    font-family: 'Segoe UI', sans-serif;
    padding-top: 10px;
    padding-left: 10px;
    font-style: italic;
}
.noticeImage {
    display: none;/*inline-block;*/
    position: absolute;
    margin: 0 5px;
    bottom: calc(50% - 60px);
    right: 0;
    height: 130px;
    user-select: none;
}
.noticeHL {
    background: #4ebeff;
    padding: 2px;
}

#loginPage {
    background-color: #e2e2e2;
    width: calc(100% + 10px);
    padding: 20px 20px;
    margin: -5px;
    margin-top: 5px;
    height: 184px;
    overflow: hidden;
    transition: height 0.3s linear, padding 0.3s linear;
}
#loginPage.hide {
    height: 0;
    padding: 0 20px;
    transition: height 0.3s linear, padding 0.3s linear;
}
#loginMessage {
    background-color: #e2e2e2;
    padding: 0 20px 20px 50px;
    margin: 5px -5px -5px -5px;
    font-size: 30px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 500;
    user-select: text;
    color: rgb(128, 38, 16);
}/*
.loginErrorMessage {
    color: rgb(128, 38, 16);
    font-size: 30px;
    font-family: "Segoe UI", sans-serif;
    margin: 5px 0 10px 0;
}*/
.loginLeftPanel {
    display: inline-block;
    width: 60%;
}
.loginRightPanel {
    vertical-align: top;
    display: inline-block;
    width: 30%;
}
.loginHeading {
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding-bottom: 10px;
}
.inlineLogin {
    font-family: 'Segoe UI', sans-serif;
}
.inlineLogin h2 {
    display: inline-block;
    margin: 0;
    width: 150px;
    padding: 20px;
    vertical-align: top;
}
.loginTextBox {
    outline: none;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 27px;
    font-family: 'Segoe UI', sans-serif;
    height: 50px;
    padding: 0px 10px 1px 10px;
    width: 320px;
    border-bottom: 5px solid #003e77;
}
.loginButton {
    outline: none;
    border: none;
    border-radius: 15px;
    background-color: #003e77;
    color: white;
    width: 200px;
    padding: 20px;
    font-size: 40px;
    margin: 30px 0 0 150px;
}
.loginButton:hover {
    cursor: pointer;
    background-color: #d6bb0e;
}

.loader {
    margin: 20px auto;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/*
.editButton {
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    border: none;
    border-radius: 15px;
    background-color: #003e77;
    color: white;
    width: 100px;
    padding: 20px;
    font-size: 20px;
}
.editButton:hover {
    cursor: pointer;
    background-color: #d6bb0e;
}*/


#editNoticePage {
    position: relative;
}
/* only if hover is desired
.noticeContainer .buttonPanel, .editNoticeContainer .buttonPanel {
    opacity: 0;
    transition: opacity 0.3s linear;
}
.noticeContainer:hover .buttonPanel, .editNoticeContainer:hover .buttonPanel {
    opacity: 1;
    transition: opacity 0.1s linear;
}*/
.editNoticeShown {
    max-height: 400px;
    opacity: 1;
    padding: 20px;
    margin: 40px auto;
    transition: max-height 0.5s linear, opacity 0.5s linear, margin 0.5s linear;
}
.editNoticeHidden {
    max-height: 0px;
    opacity: 0;
    padding: 0;
    margin: 0 auto;
    transition: max-height 0.5s linear, opacity 0.5s linear, margin 0.5s linear;
    overflow: hidden;
}
.editNoticeContainer {
    background-color: lightgrey;
    box-shadow: 0 0 2px black;
    padding: 10px 10px;
    position: relative;
    /*display: inline-block;*/
}
.editNoticeContainer legend {
    font-family: 'Segoe UI', sans-serif;
    padding: 0 10px;
}
.editNoticeTitle {
    padding: 0 10px;
    width: 100%;
    display: inline-block;
    font-size: 30px;
    font-family: 'Segoe UI', sans-serif;
    margin-bottom: 5px;
}
.editNoticeMessage {
    width: 100%;
    resize: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Segoe UI', sans-serif;
    padding: 4px 10px;
    margin-bottom: 0px;
    height: 170px;
}
.editNoticeAuthor {
    width: 250px;
    display: inline-block;

    font-size: 17px;
    font-family: 'Segoe UI', sans-serif;
    padding: 0 10px;
    font-style: italic;
}
.editNoticeImage {
    font-size: 17px;
    font-family: 'Segoe UI', sans-serif;
    padding: 0 10px;
    margin-right: 18px;
}

/* W3Schools Checkboxes */
.yearGroupCheckbox {
    font-family: 'Segoe UI', sans-serif;
    display: inline-block;
    position: relative;
    padding-left: 30px;
    padding-right: 11px;
    margin-top: 10px;
    margin-bottom: 14px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default checkbox */
.yearGroupCheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 5px;
}
/* On mouse-over, add a grey background color */
.yearGroupCheckbox:hover input ~ .checkmark {
    background-color: #999;
}
/* When the checkbox is checked, add a blue background */
.yearGroupCheckbox input:checked ~ .checkmark {
    background-color: #2196F3;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.yearGroupCheckbox input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.yearGroupCheckbox .checkmark:after {
    left: 9px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.buttonPanel {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    position: absolute;
    top: 0px;
    right: -65px;
}

.squareButton {
    width: 40px;
    height: 40px;
    background-color: #2196F3;
    outline: none;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 25px;
    display: block;
    margin-bottom: 6px;
    font-family: "EmojiSymbols", sans-serif;
}
.squareButton:hover {
    background-color: #d6bb0e;
    cursor: pointer;
}
.buttonEdit {
    padding-bottom: 5px;
}
.buttonCancel {
    background-color: rgb(36, 101, 155);
    padding-bottom: 6px;
}
.buttonDelete {
    background-color: rgb(36, 101, 155);
    font-size: 28px;
}
.buttonSubmit {
    padding-bottom: 7px;
}
form:invalid .buttonSubmit {
    background-color: rgb(128, 38, 16);
}
.editNoticeDate {
    font-size: 22px;
    font-family: 'Segoe UI', sans-serif;
    padding-left: 9px;
    font-weight: 600;
}
.editNoticeDate * {
    margin-left: 3px;
    font-size: 15px;
    font-family: 'Segoe UI', sans-serif;
    padding: 0;
    position: relative;
    top: -1px;
    width: 148px;
}
.eND {
    margin-right: 15px;
}
.submitted {
    background-color: rgb(26, 134, 62);
}
.errored {
    background-color: rgb(128, 38, 16);
} .errored:hover {
    background-color: rgb(128, 38, 16);
}
#errorMessage {
    color: rgb(128, 38, 16);
    font-size: 30px;
    font-family: "Segoe UI", sans-serif;
    margin: 5px 0 10px 0;
}
#successMessage {
    font-size: 30px;
    font-family: "Segoe UI", sans-serif;
    margin: 5px 0 10px 0;
}







}
/*
$$$$$$$\  $$$$$$$\  $$$$$$\ $$\   $$\ $$$$$$$$\ 
$$  __$$\ $$  __$$\ \_$$  _|$$$\  $$ |\__$$  __|
$$ |  $$ |$$ |  $$ |  $$ |  $$$$\ $$ |   $$ |   
$$$$$$$  |$$$$$$$  |  $$ |  $$ $$\$$ |   $$ |   
$$  ____/ $$  __$$<   $$ |  $$ \$$$$ |   $$ |   
$$ |      $$ |  $$ |  $$ |  $$ |\$$$ |   $$ |   
$$ |      $$ |  $$ |$$$$$$\ $$ | \$$ |   $$ |   
\__|      \__|  \__|\______|\__|  \__|   \__|   
*/


/* LAYOUT FOR PRINTING */
/*
@media print {
    * { box-sizing: border-box; }
    body {
        padding: 0vh;
        height: 100vh;
        margin: 0;
    }

    .pageBanner {
        position: relative;
        border-left: 20px solid black;
        margin: 20px auto;
        width: 1000px;
        height: 145px;
    }
    .pageBanner > img {
        height: 100px;
        margin: 20px;
        padding-right: 30px;
        padding-left: 6px;
        border-right: 2px solid black;
    }
    .bannerHeading {
        font-family: 'Segoe UI', sans-serif;
        color: black;
        display: inline-block;
        vertical-align: top;
        margin: auto;
        font-size: 70px;
        padding: 22px 10px;
    }
    .externalSite {
        display: none;
    }

    /* Page footer styling 
    .pageFooter {
        display: none;
    }

    /* Notices Page Styleing 
    .noticesPage {
        /*border-left: 20px solid #ffdd00;
        margin: 40px auto;
        /*height: 2000px; for testing
        width: 1000px;
        padding: 20px;
    }
    #loginPage {
        display: none;
    }
    #currentDay {
        margin-top: 0;
        text-align: center;
        font-family: 'Segoe UI', sans-serif;
    }
    .dayButton {
        display: none;
    }
    .yearButton {
        display: none;
    }
    .yearButton.current {
        display: block;
        border-radius: 5px;
        font-family: 'Segoe UI', sans-serif;
        font-size: 25px; /*15px original
        color: black;
        font-weight: 800;
        border: 5px solid black;
        padding: 2px; /*20px original
        width: 103px;
        margin-bottom: 15px;
    
        outline: none;
    }

    .noticeContainer {
        display: block;
        background-color: lightgrey;
        border: 2px solid black;
        padding: 10px 20px;
        margin-bottom: 20px;
        overflow-y: visible;
    }
    .noticeUrgent {
        border-top: 15px solid black;
    } .noticeUrgent .noticeTitle {
        font-weight: 900;
    }
    .noticeTitle {
        padding-bottom: 10px;
        font-size: 30px;
        font-family: 'Segoe UI', sans-serif;
    }
    .noticeMessage {
        font-size: 17px;
        font-family: 'Segoe UI', sans-serif;
        padding-left: 10px;
    }
    .noticeAddress {
        font-size: 17px;
        font-family: 'Segoe UI', sans-serif;
        padding-top: 10px;
        padding-left: 10px;
    }
    .noticeAuthor {
        font-size: 17px;
        font-family: 'Segoe UI', sans-serif;
        padding-top: 10px;
        padding-left: 10px;
    }
    .noticeImage {
        display: none;
    }
}*/